@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.page-header {
  background-image: linear-gradient(
    90deg,
    $color-dark,
    $color-light,
    $color-dark
  );
  text-align: center;
  padding: 30px 0;
  font-weight: 700;
  color: $color-light;
  letter-spacing: .3rem;
  @include shadow(text, 0 0 20px $color-dark);
}