@use "../../../styles/variables" as *;

.topbar {
    display: flex;
    align-items: start;
     background-color: $color-light-bg-op-15;
    backdrop-filter: blur(6px);
    color: $color-light;
    padding: 70px 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    display: flex;
    align-items: center;
    justify-content: star;

    .slogan {
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;
      text-align: center;
      letter-spacing: 1px;

        .pi{
            margin: 5px;
            color: $color-red;
            font-style: italic;
            font-size: 15px;
            
            
          }
         
    }
  }
}


  

