@use "../../../styles/variables" as *;

.topbar {
    background-color: $color-light-bg-op-15;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    display: flex;
    align-items: center;
    justify-content: star;

    .slogan {
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;
      text-align: center;
      letter-spacing: 1px;

        .pi{
            margin: 5px;
            color: $color-red;

        }
        .span {
          color: $color-red;
          font-weight: bold;
        }
    }
  }
}


  

