@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.instructors{
    h2{
        background-color: $color-light-bg-op-15;
         backdrop-filter: blur(6px);
        padding: 30px;
        text-align: center;
        height: 100%;
        color: $color2;
        @include border-radius(5px);
        @include flex($ai: center, $jc: center);
    }
}