@use "../../styles/mixins" as *;
@use "../../styles/variables" as *; 
.event-card{
    height: 100%;

    img{
        width: 100%;
        height: auto;
         img {
            object-fit: cover;
            @include transition(transform 0.3s ease-in-out);
            
        }
    }

    .card-title{
        margin-top: 20px;
        color: $color-red;
        font-size: 1.5rem;
        text-align: center;
    }

    .card-subtitle{
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: .9rem;
        color: $color-red;

        @include flex();

        i{
            color: $color-red;
        }
    }

      
    &:hover {

        img{

            @include transform(scale(1.1));
        }
    }
    
}