@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

footer{
    background-color: $color-light-bg-op-15;
    backdrop-filter: blur(6px);
    color: $color-light;
    padding: 70px 0;
    
    a{
        color: $color-light!important;
        font-family: $montserrat;
    }

    .nav{
        flex-direction: column;
        flex-wrap: nowrap;

        i{
            color: $color-red;
        }


        @media (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}